.PostFlexBox {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.PostFlexBoxItem {
    width: 45%;
    min-width: 280px;
}

.PostFlexBoxItem > img{
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 720px) {
    .PostFlexBoxItem {
        width: 80%;
    }
  }
