.AboutMeFlexBox {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.AboutMeFlexBoxItem {
    width: 45%;
    min-width: 280px;
}

.AboutMeFlexBoxItem > img{
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 720px) {
    .AboutMeFlexBoxItem {
        width: 80%;
    }
  }
