.PostContainer {
    width: 80%;
    max-width: 1280px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    padding-top: 20px;
}

.StickyTape {
    width: 150px;
    height: 50px;
    top: -25px;
    right: calc(50% - 75px);
    position: absolute;
}

.StickyTapeWords {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: auto;
    position: relative;
    top: 10px;
}