.WorkExperienceContainer {
    padding-bottom: 10px;
}

.WorkExperienceHr {
    height: 1px;
    background-color: black;
    border-width: 0;
    width: calc(100% - 40px);
}

.SalesforceHr {
    height: 1px;
    background-color: black;
    border-width: 0;
    width: calc(80% - 40px); 
}