.WorkExperienceLayout {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.LeftColumn {
  width: 33%;
}

.RightColumn {
  width: 67%;
}

@media screen and (max-width: 720px) {
  .LeftColumn {
    width: 100%;
  }

  .RightColumn {
    width: 100%;
  }
}

.Company {
  font-size: 32px;
  line-height: 32px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.Title {
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  font-weight: 600;
}

.Date {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  font-weight: 400;
}
