.WorkExperienceLayout {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.LeftColumn {
  width: 33%;
}

.RightColumn {
  width: 67%;
}

@media screen and (max-width: 720px) {
  .LeftColumn {
    width: 100%;
  }

  .RightColumn {
    width: 100%;
  }
}
