.WorkExperienceContainer {
    width: 80%;
    max-width: 1280px;
    height: fit-content;
    background-color: #e4dcec;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    padding-top: 20px;
}

.WorkExperienceHr {
    height: 2px;
    background-color: black;
    border-width: 0;
    width: calc(100% - 40px);
}

.SalesforceHr {
    height: 2px;
    background-color: black;
    border-width: 0;
    width: calc(80% - 40px); 
}